docs/_build/
docs/_build_html/
docs/html/
docs/xml/
docs/latex/
xo-math/.vs
xo-math/x64
xo-math/x32
xo-math/Debug
xo-math/Release
xo-math/ARM
*.sdf
*opendb
*.opensdf
*.db
*.sublime-workspace
xo-math/build/a.out
xo-math/build/a.exe
docs/*.tmp